* {
    box-sizing: border-box;
}

@font-face {
  font-family: eagleLake;
  src: url("eagleLake.ttf");
}

@font-face {
    font-family: cormorant;
    src: url("cormorant.ttf")
}

body {
    background-image: url("catFurBackground2.jpeg");
    background-size: 100%;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    max-height: 4608px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin:50px;
    font-family: cormorant;
    font-size: 130%;
    color: beige;
}

h1 {
    font-family: eagleLake;
    font-size:60px;
    border:red 5px dotted;
    padding: 20px;
    background: rgb(118, 170, 230);
    display: inline-block;
}

h3 {
    color:rgb(118,170,230);
    background-color:rgb(245, 245, 220,.7);
    border:dotted red 2px;
    display: inline;
}
a {
    color: red;
}

a:visited {
    color: darkred;
}

a:hover {
    color:greenyellow;
}

ul{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

li {
    background:rgb(138, 194, 234);
    display: flex;
}

img:hover {
    background-color:rgba(190, 255, 134, 0.5);
    width:40%;
}

.catName {
    display:inline;
}

.catListItem {
    display: inline;
    /* background-color:rgb(118, 170, 230); */
}

.catList {
    display:flex;
    flex-wrap:wrap;
    background-color: rgb(138, 194, 234);
}

/* .ronaldGallery {
    padding:0px;
    
} */