* {
    box-sizing: border-box;
}

@font-face {
  font-family: eagleLake;
  src: url("eagleLake.ttf");
}

@font-face {
    font-family: cormorant;
    src: url("cormorant.ttf")
}

body {
    background-image: url("wallpaper4.jpeg");
    background-size: 100%;
    border:red 2px dotted;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* padding: 50px; */
    /* margin:50px; */
    font-family: cormorant;
    font-size: 120%;
    color:rgb(40, 16, 11);
}

h1 {
    font-family: eagleLake;
    font-size:30px;
    border:rgb(204, 183, 44) 5px groove;
    background: rgb(239, 255, 160);
    display: inline-block;
    padding:10px;
}

h3 {
    color:rgb(25, 116, 42);
    display: inline;
    /* padding:10px; */
}
a {
    color: red;
}

a:visited {
    color: darkred;
}

a:hover {
    color:greenyellow;
}

img:hover {
    background-color:rgba(190, 255, 134, 0.5);
    scale:2;
}

/* .catName { 
    display:inline;
} */

.catListItem {
    flex:50%;
}

.catList {
    display:flex;
    /* flex-wrap:wrap; */
    /* background-color: rgb(138, 194, 234); */
}

/* .ronaldGallery {
    padding:0px;
    
} */

.everythingElse {
    /* margin-left: 500px; */
    flex:60%;
    padding:60px;
    margin:10px;
}

.stayBox {
    flex:40%;
    padding: 50px;
    margin:10px;
}

.twoBoxes {
    display: flex;
}