body{
    background-color:yellowgreen;
}
/* external styles are the least specific */
header {
    background-color:palevioletred;
    margin:20px;
    padding:20px;
}

/* default tags are the least specific */
main {
    background-color:orchid;
    margin:20px;
    padding:20px;
}
/* classes are more specific than default tags, but less specific than ids */
.class {
    background-color:lightskyblue;
}
/* ids are the most specific */
#id {
    background-color:chartreuse;
}

/* rules higher on the stylesheet are less specific than rules lower */
footer {
    background-color:purple;
    margin:20px;
    padding:20px;
}
/* rules lower on the stylesheet are more specific than rules higher */
footer {
    background-color:lightpink;
}