@font-face {
    font-family: spaceMono;
    src: url(spacemono.ttf);
}

* {
    box-sizing:border-box;
}

img {
    max-width:100%;
}

body {
    background:bisque;
    font-family: spaceMono;
    margin:0;
}

h1 {
    margin-left:20%;
    margin-top:5%;
}


.room {
    /* background:yellow; */
    margin:100px;
    margin-top:60px;
    margin-left:250px;
    margin-right:200px;
    /* border:solid 2px; */
    height: 80vh;
    width: 60vw;
    display:flex;
    flex-direction:row;
    position:relative;
    z-index:2;
}

.left {
    display:flex;
    flex-direction:column;
    height:100%;
    width:25%;
    /* background:yellowgreen; */
}

.mainBox {
    display:flex;
    flex-direction:column;
    height:100%;
    width:55%;
    /* background:pink; */
}

.right {
    display:flex;
    flex-direction:column;
    height:100%;
    width:20%;
    /* background:tomato; */
}

.desk {
    display:flex;
    flex-direction: column;
    height:35%;
    width:50%;
    background:yellowgreen;
    border:2px solid blue;
    border-top:none;
}

.radiator {
    display:flex;
    flex-direction:column;
    height:15%;
    width:25%;
    margin-left:10px;
    margin-top:20px;
    margin-bottom:15px;
    background:beige;
    border:2px solid blue;
}

.mirror {
    display:flex;
    flex-direction:column;
    height:15%;
    width:10%;
    background:rgb(118, 72, 44);
    margin-bottom:10px;
    border:2px solid blue;
}

.sunroom {
    display:flex;
    flex-direction:column;
    height:25%;
    width:5%;
    margin-bottom:10px;
    /* background:red; */
}

.sleepZone {
    display:flex;
    flex-direction:row;
    height:60%;
    width:100%;
    justify-content: center;
}

.bed {
    display:flex;
    flex-direction:column;
    height:100%;
    width:70%;
    background:rgb(185, 139, 199);
    justify-self:center;
    margin-left:65px;
    border:2px solid blue;
    border-top:none;
}

.nightstand {
    display: flex;
    flex-direction:row;
    height:15%;
    width:15%;
    background:rgb(118, 72, 44);
    margin:5px;
    margin-right:0;
    border:2px solid blue;
}
.desk2 {
    display:flex;
    flex-direction: row;
    height:20%;
    width:70%;
    background: rgb(60, 150, 108);
    align-self:center;
    justify-self:flex-end;
    margin-top:120px;
    border:2px solid blue;
}

.closet {
    display:flex;
    flex-direction: row;
    height:25%;
    width:7%;
    /* background:purple; */
    align-self:flex-end;
    margin-top:15px;
}

.dresser {
    display:flex;
    flex-direction: row;
    height:30%;
    width:60%;
    background:rgb(118, 72, 44);
    align-self:flex-end;
    margin-top: 5px;
    border:2px solid blue;
    border-right:none;
}

.rack {
    display:flex;
    flex-direction:row;
    height:25%;
    width:50%;
    align-self:flex-end;
    background:lightpink;
    margin-top:5px;
    border:2px solid blue;
    border-right:none;
}

.door {
    display:flex;
    flex-direction:row;
    height:2%;
    width:95%;
    /* background:goldenrod; */
    margin-top:100px;
    justify-self:flex-end;
    align-self:flex-end;
}
.pillows {
    display:flex;
    flex-direction:row;
    height:25%;
    width:100%;
    justify-content:center;
    /* background:aqua; */
    gap:5px;
}

.pillow {
    display:flex;
    flex-direction:row;
    justify-self:center;
    background:beige;
    height:95%;
    width:45%;
    margin-top:5px;
    border:2px solid blue;
}
.blanket {
    display:flex;
    flex-direction:column;
    background:purple;
    height:80%;
    width:100%;
    margin-top:10px;
    border:2px solid blue;
    border-right:none;
    border-left:none;
    border-bottom:none;
}
.closetBorder {
    border-top:2px solid;
    border-right:2px solid;
    border-image:linear-gradient(
        to bottom, 
        blue 0% 3%, 
        transparent 3% 27%, 
        blue 27% 100%
        ) 1;
}

.sunroomBorder {
    position:absolute;    
    border-left:2px solid;
    border-image:linear-gradient(
        to bottom,
        blue 0% 73%,
        transparent 73% 97%,
        blue 97% 100%
    ) 1;
    top:0;
    right:3.7%;
    z-index:1;
}

.entrance {
    border-bottom:2px solid;
    border-image:linear-gradient(
        to right,
        blue 0 81%,
        transparent 81% 100%
    ) 1;
    position:absolute;
    top:0;
    right:3.7%;
    z-index:1;
}

.rug {
    position:absolute;
    width:30%;
    height:40%;
    background:rgb(60, 32, 27);
    z-index:2;
    display:flex;
    align-self:center;
    justify-self:center;
    /* margin-top:12%; */
    /* margin-left:3%; */
    top:25%;
    right:33.5%;
    border:2px solid blue;
}

.chair1 {
    position:absolute;
    width:7%;
    height:17%;
    background:lightskyblue;
    border-radius:100% 100% 100% 100%;
    top:25%;
    left:28%;
    z-index:2;
    border:2px solid blue;
}

.chair2 {
    position:absolute;
    width:6%;
    height:10%;
    background:seagreen;
    border-radius:100% 100% 100% 100%;
    top:52%;
    left:25%;
    z-index: 2;
    border:2px solid blue;
}

a {
    text-decoration: none;
}

.objectLink {
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    z-index:5;
}

.mainDresser {
    display:flex;
    flex-direction:column;
    gap:20px;
    height:200vh;
    width:80vw;
    border:2px solid;
    padding:50px;
    margin:100px;
    margin-bottom:0px;
    margin-top:300px;
}

.smallDrawer {
display:flex;
flex-direction:row;
height:12%;
width:100%;
border:2px solid;
justify-content: space-between;
align-items: center;
padding-left:40px;
padding-right:40px;
}

.drawer {
    display:flex;
    flex-direction:row;
    height:22%;
    width:100%;
    border:2px solid;
    justify-content: space-between;
    align-items: center;
    padding-left:40px;
    padding-right:40px;
}

.knob {
    display:flex;
    height:10%;
    width:10%;
    border:2px solid;
}
.floor {
    display:flex;
    flex-direction:column;
    width:100%;
    height:20vh;
    border-top:2px solid;
}

.mainDesk {
    display:flex;
    flex-direction:row;
    margin:100px;
    margin-top:600px;
    margin-bottom:0px;
    height:100vh;
    width:200vw;

}

.deskLeg {
    display:flex;
    height:100%;
    width:2%;
    border:2px solid;
}

.deskBody {
    display:flex;
    height:30%;
    width:80%;
    border:2px solid;
    justify-content:center;
    align-items:center;
    border-right:none;
    border-left:none;
}

.deskDrawer {
    display:flex;
    height:80%;
    width:30%;
    border:2px solid;
    justify-content:center;
    align-items:center;
}

.mainCloset {
    display:flex;
    flex-direction:row;
    height:350vh;
    width:80vw;
    margin:200px;
    margin-bottom:0px;
    border:2px solid;
    justify-content:center;
    align-items:flex-end;
}

.mainClosetEntrance {
    display:flex;
    height:98%;
    width:90%;
    border:2px solid black;
    border-bottom:none;
}

.mainNightstand {
    display:flex;
    flex-direction:column;
    height:100vh;
    width:50vw;
    margin:325px;
    margin-top:700px;
    margin-bottom:0px;
}

.nightstandBody {
    display:flex;
    flex-direction:row;
    height:50%;
    width:100%;
    border:2px solid;
    justify-content:center;
    align-items: center;
}

.nightstandCubby {
    display:flex;
    height:80%;
    width:90%;
    border:2px solid black;

}

.nightstandLegs {
    display:flex;
    height:50%;
    width:100%;
    justify-content:space-between;
}

.nightstandLeg {
    display:flex;
    height:100%;
    width:10%;
    border:2px solid;
    border-top:none;
}

.roomEntrance {
    display:flex;
    flex-direction:row;
    height:350vh;
    width:100vw;
    margin:200px;
    margin-bottom:0px;
    border:2px solid;
    justify-content:center;
    align-items:flex-end;
}

.entranceCorridor {
    display:flex;
    flex-direction:column;
    height:95%;
    width:90%;
    border:2px solid;
    border-bottom:none;
    justify-content:center;
    align-items:flex-end;
}

.doorknob {
    display:flex;
    flex-direction:column;
    height:5%;
    width:10%;
    border:2px solid black;
    border-radius:100% 100% 100% 100%;
    margin-right:40px;
}