@font-face {
    font-family: spaceMono;
    src: url(spacemono.ttf);
}

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

body {
    background:blue;
    font-family:spacemono;
    color:whitesmoke;
}

.text {    
    display:flex;
    height:100vh;
    width:100vw;
    justify-content:center;
    align-items:center;
}



a {
    text-decoration: none;
    color:whitesmoke;
}